
.header{
    color: rgb(226, 226, 226);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 20px;
    overflow-x: auto;
    background-color: #051622;
    background: linear-gradient(to right, #051422, #042427);
    opacity: 0.9;
    z-index: 100;
    position: fixed !important;
    top: 0;
}

/** for chrome safari and opera*/
.header::-webkit-scrollbar{
    display: none;
}
/**  for mozilla IE*/
.header{
    scrollbar-width: none; /* firefox*/
}

.hulu__logo{
    height: 80px;
    object-fit: contain;
}

.header__icons{
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
    
}

.header__icon{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 100px;
}
.header__icon .MuiSvgIcon-root{
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}


.header__icon p{
    display: none;
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 3px;
}
.header__icon:hover p{
    display: inline;
}
.header__icon:hover{
    font-size: 20px;
}
.header__icon--active p{
    display: inline;
}


.header__right{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    /* background-color: aqua; */
    /* display: relative; */
    /* z-index: 1000; */
}

.search__field input{
    margin-left: 0px;
    background-color: transparent !important;
    color: white;
    opacity: 0.8;

}
.search__result{
    z-index: 10000 !important;
    position: fixed;
    /* top: 20px; */
    /* left: 810px; */
    /* right: 300px; */
    border: 1px solid white;
    width: 250px;
    min-height: 40vh;
    box-shadow: 10px 10px 10px black;
}

.search__result{
    z-index: 1000px !important;
    /* float: right;  */
    /* margin-top: -80px;  */
    transform: rotate(360deg)
}

/* MuiPaper-root search__result MuiPaper-elevation1 MuiPaper-rounded */