
html {
  scroll-behavior: smooth;
}

body {

  overflow-x: hidden !important;
  scrollbar-width: 1px !important;
  /* background: linear-gradient(112deg, rgba(2,0,36,1) 0%, rgba(7,33,50,1) 31%, rgba(0,212,255,1) 100%); */
  background-color: #051622;
  background: linear-gradient(to right, #051422, #042427);
}


.app{
  min-height: 100vh;
  min-width: 100vw !important;
  /* position: relative; */
  /* border: 1px solid white; */

}

.app__content{
  /* border: 1px solid white; */
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 50px;

}

.app__footer{
  width: 100vw;
  /* border: 1px solid white; */
  
}